html,
body {
    background-color: #21232a;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.3rem;
    padding: 70px;
}

button {
    padding: 15px;
    font: 1.3rem sans-serif;
    margin-right: 5px;
}